{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="color:red">Welcome to VA Shop</h1>
    <mark style="color:green" >Where you can shop for the branded items you want</mark>
<body>
    <img src="wp8130027.jpg" alt="imgShop" align="center" width="1510" height="600"/>
<style>
    img {
        margin-left: 5px;
        border-radius: 10px;
    }
    h1 {
        margin-left: 600px;
        color: blue;
    }
    body {
        color: blue;
    }
    mark{
        margin-left: 600px;
    }
</style>


</body>
{% endblock %}
